@font-face {
  font-family: 'Proxima-Nova';
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot");
  src: url("../fonts/ProximaNova/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype"), url("../fonts/ProximaNova/ProximaNova-Regular.svg#ProximaNova/ProximaNova-Regular") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue';
  src: url("../fonts/BebasNeue/BebasNeue-Bold.eot");
  src: url("../fonts/BebasNeue/BebasNeue-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeue-Bold.woff") format("woff"), url("../fonts/BebasNeue/BebasNeue-Bold.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeue-Bold.svg#BebasNeue/BebasNeue-Bold") format("svg");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Bebas Neue Regular';
  src: url("../fonts/BebasNeue/BebasNeue-Regular.eot");
  src: url("../fonts/BebasNeue/BebasNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BebasNeue/BebasNeue-Regular.woff") format("woff"), url("../fonts/BebasNeue/BebasNeue-Regular.ttf") format("truetype"), url("../fonts/BebasNeue/BebasNeue-Regular.svg#BebasNeue/BebasNeue-Regular") format("svg");
  font-weight: 400;
  font-style: normal; }

* {
  padding: 0px;
  margin: 0px;
  border: 0px; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

aside, nav, footer, header, section {
  display: block; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  width: 100%;
  color: #000; }

body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: "Proxima-Nova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }
  body.lock {
    overflow: hidden; }
    @media (max-width: 767.98px) {
      body.lock {
        width: 100%;
        position: fixed;
        overflow: hidden; } }

input, button, textarea {
  font-family: "Proxima-Nova"; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit; }

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1000px;
  margin: 0 auto;
  width: 100%; }
  @media (max-width: 1012px) {
    .container {
      max-width: 970px; } }
  @media (max-width: 992.98px) {
    .container {
      max-width: 750px; } }
  @media (max-width: 767.98px) {
    .container {
      max-width: none;
      padding: 0 10px; } }

.row__container-flex {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 767.98px) {
    .row__container-flex {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .row__container-flex__info-item-text {
    line-height: 20px;
    color: #333333;
    padding: 0px 0px 30px 0px; }

.order-content-center {
  padding: 10px;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%;
  margin: 15px; }

.text__section-info {
  font-family: 'Bebas Neue',serif;
  color: #333333;
  font-size: 40px;
  font-weight: 600;
  padding: 0px 0px 30px 0px; }

.text__section-card {
  font-family: 'Bebas Neue',serif;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.1px;
  padding: 0px 0px 30px 0px; }

.form_inputs {
  padding: 0px 0px 25px 0px; }
  .form_inputs p {
    margin: 0px 0px 5px 0px;
    font-weight: 700; }

.form_inputs-info p {
  font-weight: 700; }
  .form_inputs-info p pre input {
    padding: 20px 0px 0px 0px; }

.form_inputs-date {
  padding: 20px 0px 0px 0px; }
  .form_inputs-date input {
    margin: 15px 0px 0px 0px; }
  .form_inputs-date p {
    font-weight: 700; }

.justify-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 317px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 15px;
  padding: 30px 40px 55px 50px;
  background-color: #f7f7f7;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 50%;
  flex: 0 1 50%; }

pre {
  font-family: 'Proxima-Nova',serif;
  margin: 10px 0px 0px 0px; }

.content-card-center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0px 0px 40px 0px; }
  .content-card-center img {
    width: 100px;
    padding: 0px 20px 0px 0px; }

.close {
  position: absolute;
  margin: -5px 0px 0px 0px;
  right: 0px;
  top: 32px;
  width: 25px;
  height: 25px; }
  @media (max-width: 479.98px) {
    .close {
      right: -10px;
      top: -50px; } }

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 25px;
  width: 4px;
  background-color: #b62519; }

.close:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 479.98px) {
    .button {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }
  .button p {
    padding: 0px 0px 0px 30px;
    font-size: 23px;
    font-weight: 600; }
    @media (max-width: 479.98px) {
      .button p {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 15px 0px 0px 0px; } }

.form-row {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  font-size: 0;
  margin: 0px -15px; }

.form__column {
  padding: 0px 15px; }

.btn {
  display: inline-block;
  padding: 8px 45px;
  color: #000;
  border: 1px solid #000;
  font-weight: 500;
  border-radius: 5px; }
  .btn a {
    color: #000; }
  .btn.fw {
    width: 100%; }

/*input[type=text], input[type=email], input[type=tel], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }*/

.input {
  width: 100%;
  display: block;
  border: 1px solid #cecccc;
  padding: 5px 20px;
  border-radius: 3px;
  margin: 9px 0px 0px 0px; }

textarea.input {
  resize: none;
  padding: 0px 0px; }